<div class="block-00">
     <h2>Почему так происходит?</h2>
     <div class="b-1">Наверняка вы уже спрашивали себя:</div>


</div>
<div class="block-01">
     <span>"Почему знаю, что нужно делать — но не делаю?"</span>
</div>

<div class="block-02"> <span>В такие моменты большинство начинает бороться сильнее.</span> </div>

<div class="block-03">
     <span>Ругает себя</span>
     <span>Заставляет себя</span>
     <span>Ищет новую мотивацию.</span>

</div>
<div class="t-block-0">
     <div class="block-04">Но очень часто проблема не в силе воли.</div>
     <div class="block-05">А в том, что мы пытаемся изменить поведение, не понимая, что именно им управляет.</div>
     <div class="block-06">Именно поэтому я не спешу давать советы.</div>
     <div class="block-07">Сначала мне важно понять, что происходит именно с вами.</div>
     <div class="block-08">Иногда одно честное понимание меняет ситуацию сильнее, чем десятки новых техник.</div>
</div>