c-ani-start.ani-block {
     .pin-wrap {
          height: 150vh;
     }

     // .pin-sticky {
     //      height: 100vh;
     // }

     .img-bg {
          width: 100%;
          overflow-x: visible;
          position: absolute;
          top: 0;

          img {
               width: 800px;
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               top: -50px;

          }
     }

     .content {
          position: relative;
          z-index: 2;

          .c-body {
               max-width: 402px;
               margin: 0 auto;
               color: #231813;
          }


     }

     .t00,
     .t01 {
          font-size: 42px;
          font-weight: 700;
          text-align: right;
          line-height: 1.15;
          color: #ffffff;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          padding: 115px 15px 0 0;
     }

     .t01 {
          font-size: 40px;
          text-align: left;
          padding: 192px 0px 0 15px;
          line-height: .9;
     }

     .block-00 {
          font-size: 23px;
          color: #ffffff;
          line-height: 1.1;
          padding: 17px;
          opacity: 0;
          width: 360px;
     }

     .bl-00,
     .bl-02 {
          transform: translateX(200px);
          top: 50%;
     }

     .bl-01,
     .bl-03 {
          transform: translateX(-200px);
          top: 50%;
     }

     .bl-02 {
          font-size: 28px;
          text-align: center;
     }

     .bl-03 {
          .title {
               font-size: 20px;
               line-height: 1.1;
               color: #ffffffe0;
               padding: 10px 05px;
               text-align: center;
          }
     }

     .block-01 {
          position: absolute;
          top: 0
     }

     .block-02 {

          position: absolute;
          // height: 100vh;
          top: 500px;
          // margin: 500px 0 0;
          width: 100%;

     }
}