<div class="img-bg">
     <img src="/block-0-gr1.svg" class="i01">
     <img src="/block-0-gr2.svg" class="i02">
</div>
<div class="content">
     <div class="c-body">
          <h1 class="t00">Вы знаете,<br>
               чего хотите.</h1>
          <h2 class="t01">
               Но почему-то<br>
               снова и снова<br>
               не можете начать двигаться.
          </h2>

          <div class="block-02">
               <div class="block-00 bl-00">

                    Если эта мысль вам знакома, скорее всего проблема не в лени и не в отсутствии дисциплины.

               </div>
               <div class="block-00 bl-01">
                    Уже 5 лет я сопровождаю людей, которые хотят разобраться, что на самом деле мешает им двигаться к
                    важным
                    для себя целям.
               </div>
               <div class="block-00 bl-02">
                    Давайте посмотрим вместе.
               </div>


               <div class="block-00 bl-03">
                    <a class="btn btn-00" href="">
                         Записаться на диагностическую встречу
                    </a>
                    <div class="title">
                         Первая встреча — чтобы понять, подходим ли мы друг другу. Без обязательств продолжать
                         работу.
                    </div>

               </div>


          </div>


     </div>


</div>
<div class="str-down">
     <span></span>
     <span></span>
     <span></span>
</div>