@use "@styles/breakpoints";

.top {
  position: relative;
  height: 335px;
  margin: 0 0 -235px;
  overflow: hidden;

  img {
    clip-path: circle(436px at 100px 200px);
    width: 318px;
    height: 295px;
    object-fit: cover;
    position: absolute;
    right: -60px;
    top: -54px;

    clip-path: circle(218px at 70% 26%);

    @include breakpoints.tablet {
      right: 0;
      top: 0;
    }
  }

  .b00 {
    color: rgba(64, 19, 0, 0.75);
    font-size: 17px;
    text-align: center;
    height: 18px;
    position: relative;
  }

  .b01 {
    color: #862A03;
    font-size: 20px;
    padding: 25px 0 0 55px;
    line-height: 19px;
    position: relative;

    span {
      display: block;
      text-indent: -40px;

      padding: 0 150px 7px 0;
      ;

      @include breakpoints.tablet {
        padding: 0 0 25px 15px;
      }


      &.i {
        color: rgba(0, 46, 80, 0.96);
        padding-left: 0;
        font-size: 24px;
        padding-top: 0;

        @include breakpoints.tablet {
          padding-left: 40px;
        }
      }

    }
  }

  .home_anh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -14px 0 0;
    position: relative;
    z-index: 10;

    .home {
      background: url("@/assets/ico_02.svg") no-repeat;
      width: 34px;
      height: 28px;
      display: block;
      margin: 0 0 0 5px;
      background-size: 30px;
    }



  }

  .name {
    background: rgba(255, 68, 0, 0.65);
    color: rgba(255, 255, 255, 0.9333333333);
    position: absolute;
    top: 32px;
    height: 54px;
    font-size: 23px;
    left: -5px;
    padding: 4px 8px 4px 13px;

    // a {
    //   color: #fffe;

    //   &:hover {
    //     color: #fff;
    //   }
    // }
  }

  .city {
    display: block;
    font-size: 16px;
  }


  @include breakpoints.tablet {
    right: 0;
    top: 0;
  }
}

.home-page {
  .top {
    .name {
      left: auto;
      right: 0;
      top: 162px;
      font-size: 22px;
      height: auto;
      line-height: 1;
    }
  }
}