<div class="block-l0">

     <div class="block-00">

     </div>
     <div class="block-01"></div>
     <div class="block-02">


          <h2>Отзывы</h2>

          <div class="cards">



               <c-kartochka data-name="Антонина" data-avatar-url="ph-01">
                    <p>
                         Ценно в наших встречах было то, что ты задавал мне отрезвляющие вопросы,
                         иногда это было как
                         ушат с холодной водой,
                         но это помогало смотреть на ситуацию честно
                    </p>
                    <p>Что изменилось?
                         Сама стала себе задавать эти вопросы часто, честно, перестала жалеть себя, хотя
                         иногда все ещё происходит это)
                    </p>
               </c-kartochka>
               <c-kartochka data-name="Наташа" data-avatar-url="ph-02">
                    <p>

                         Ты меня тогда услышал. Ты насколько смог проявил эмпатию. Для меня это было важным на то
                         момент. Помог услышать себя.
                    </p>
                    <p>
                         Мы с сестрой проговорили тяжелый груз на
                         тот момент. Услышали друг друга. Наши отношения улучшились. Мы смогли сдвинуться с точки.
                    </p>
                    <p>На тот момент я приблизилась к глобальному запросу о Смысле жизни и это послужило хорошим
                         толчком к развертыванию этого запроса
                    </p>

               </c-kartochka>

               <c-kartochka data-name="Лена" data-avatar-url="ph-04">
                    <p>
                         Для меня ценным в наших встречах была возможность проговаривать происходящее в моей жизни и
                         смотреть на это со стороны.

                    </p>
                    <p>
                         Также было важно, что ты помогал удерживать фокус на целях и
                         задачах, правильно их формулировать и детализировать.

                    </p>
                    <p>
                         Благодаря нашей работе у меня появилась дисциплина и регулярность в движении к своим целям.
                    </p>
               </c-kartochka>
               <c-kartochka data-name="Айгуль" data-avatar-url="ph-05">
                    <div class="smaller-text">
                         <p>
                              Ценно было для меня, что в наших встречах получилось поглубже покопаться в себе, не
                              ожидала,
                              что при одном запросе (был запрос об отношениях с мужем) вылезет совсем другое, то что
                              меня
                              очень тревожило почти всю жизнь.
                         </p>
                         <p>
                              Благодаря нашей работе, я смогла выплеснуть (выговориться) через слова и слёзы.

                         </p>
                         <p>
                              У меня возникло сильное желание наладить отношения с отцом и вытащить все
                              накопившиеся обиды и страхи.
                         </p>
                         <p>
                              Сейчас наши с отцом отношения наладились. Больше нет обид , появилось чувство принятия,
                              благодарности .
                         </p>

                    </div>


               </c-kartochka>

               <c-kartochka data-name="Гаури" data-avatar-url="ph-06">
                    <p>

                         Мне было ценно, что ты очень увлечён процессом и искренне стараешься помочь разобраться в
                         проблеме. Думаю, что я смогла понять, что точно хочу двигаться в направлении с которым мы
                         работали и до сих пор занимаюсь этим.
                    </p>
               </c-kartochka>
               <c-kartochka data-name="Абхая" data-avatar-url="ph-07">
                    <div class="smaller-text">

                         <p>
                              Я думаю, для меня, в первую очередь, важно было твое присутствие и вовлеченность в то, что
                              важно для меня. Ощущение плеча и того, что я не одна.
                         </p>
                         <p>
                              Ты очень терпелив, можешь проявлять мягкую настойчивость и иногда это очень нужно, когда
                              есть
                              кому подставить плечо и подтолкнуть.
                         </p>
                         <p>
                              Я поняла что мне важно иметь Другого рядом, с кем можно
                              говорить о значимом для меня.

                         </p>
                         <p>
                              Научилась говорить с собой, вслушиваться в себя благодаря тебе.
                              Это прям 100% началось именно с наших разговоров.
                         </p>
                    </div>
               </c-kartochka>
               <c-kartochka data-name="Денис" data-avatar-url="ph-00">
                    <p>
                         Пришло понимание того, что через вопросы к себе можно докопаться до ответов внутри себя
                    </p>
                    <p>Я понял, что из-за своего узкого взгляда на ситуацию, не получалось увидеть решение

                    </p>
                    <p>Понял, что с эмоциями можно работать и сдерживать их
                    </p>
                    <p>Сильно ничего не поменялось в жизни, но накопительный эффект изменениям был положен я считаю.
                    </p>
               </c-kartochka>
               <c-kartochka data-name="Виктория" data-avatar-url="ph-08">
                    <p>
                         Для меня ценен комплексный подход, что на наших встречах это учитывается
                    </p>
                    <p>
                         Мы можем занимаясь одной темой, пойти в другую потому что видим эту связь.

                    </p>
                    <p>
                         Для меня ценно безоценочное пространство, мне эмоционально безопасно с тобой.
                    </p>
               </c-kartochka>
               <c-kartochka data-name="Ахалйа" data-avatar-url="ph-03">
                    <p>

                         Самое ценное это общение. Мы говорили с тобой на любые темы в контексте нашей духовной
                         идеологии. Для меня это было очень важно в тот момент. И еще было круто чувствовать твою
                         заинтересованность в моей жизни, моих задачах.
                    </p>
                    <p>
                         Я решилась на некоторые вещи,
                         благодаря нашему общению и твоей поддержке, на которые сама наверное не рискнула бы. 
                    </p>
               </c-kartochka>


          </div>


     </div>
     <!-- 

Отзывы

Денис

1. Пришло понимание того, что через вопросы к себе можно докопаться до ответов внутри себя 
2. Я понял, что из-за своего узкого взгляда на ситуацию, не получалось увидеть решение 

3. Понял, что с эмоциями можно работать и сдерживать их 

4. Сильно ничего не поменялось в жизни, но накопительный эффект изменениям был положен я считаю. 

-->

</div>