@use "@/styles/breakpoints";

c-v-player {

  --vp-preview-height: 182px;
  --vp-transition-expand: 0.55s cubic-bezier(0.4, 0, 0.2, 1);


  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: start;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;

  overflow: hidden;
  cursor: pointer;
  height: var(--vp-preview-height);
  // max-width: 700px;

  transition:
    height var(--vp-transition-expand),
    border-radius var(--vp-transition-expand);

  &.is-expanded {
    // height: var(--vp-natural-height, 56.25vw);
    border-radius: 0;
    cursor: default;

    .vp-preview {
      display: none;
    }
  }

  // ─── Плашка-превью ──────────────────────────────────────
  .vp-preview {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .is-expanded & {
      display: none;
    }
  }

  .vp-poster-thumb {
    // height: 100%;
    width: 100%;
    object-fit: cover;
  }

  // ─── Прогресс-полоска на плашке ─────────────────────────
  .vp-strip {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: #fffa;
    z-index: 3;
    transition: width 0.1s linear;
  }

  // ─── Видео ──────────────────────────────────────────────
  .vp-video {
    width: 100%;
    // height: 100%;
    object-fit: contain;
    display: block;
    max-width: 400px;

    // .is-expanded & {}
  }

  // ─── Адаптив ────────────────────────────────────────────
  @include breakpoints.tablet {
    --vp-preview-height: 218px;
  }
}