.form-meet {
  padding: 7px 15px 6px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 100, 100, 0.3333333333);
  max-width: 440px;
  margin: 10px auto;

  background:  url("@/assets/btn-bg-t.svg") center top repeat-x,
  url("@/assets/btn-bg-b.svg") center bottom repeat-x ,
  #f4fcff;

  color: #5e6b61;

  .header {
    font-size: 15px;
    padding: 0 0 6px;
  }  
  .bottom-text {
    font-size: 14px;
    color: rgb(255 255 255 / 0.45);
    text-align: center;
  }
  .b1 {
    font-size:14px;
  }
  .line {
    color: #df5505;
    font-size: 16px;
    span {
      color: #f01405;
      font-size: 19px;
    }
  }
  .bottom-text {
    color: #008329;
    padding: 5px 0 0;
  }
  .message-top {
    font-size: 19px;
    font-weight: 600;
    color: #28a745;
    padding: 0 0 5px;
  }
  .ex-message-note {
    font-size: 14px;
    color: #008329;
    padding: 5px 0 0;
  }

  .body {
        display: flex;
        flex-direction: column;
        gap: 6px;
        max-width: 400px;
        margin: 0 auto;

        input {
            padding: 9px 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-family: inherit;
            font-size: 16px;
            outline: none;

            &:focus {
                outline: 2px solid rgba(0, 150, 236, 0.555);
            }
            &.error {
              &:focus {
                outline: 2px solid #cb2613;
              }
            }
        }

        .btn-meet {
            cursor: pointer;
            border: none;
            width: 100%;
            display: block;
          margin: 0;

        }
    }
    .formMessage {      
      padding: 0 5px;
      display: none;          
      
    }
    .formError {
     font-size: 18px;
     padding: 10px;
     display: none;
     font-weight: 600;
     color: #cb2613;
    }
}