.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    button {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    .status {
        margin: 10px;
        font-size: 16px;
        padding: 20px;
    }
    strong {
        font-size: 16px;
    }
    input {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;

    }
    .btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
