c-ani-3-vmeste.ani-block {
     --url: url(@assets/bg-3-1.svg);
     --gr1: linear-gradient(180deg, #1A595B 0%, #00A6AB 100%);
     --gr2: linear-gradient(180deg, #00C851 0%, #2BC0E4 100%);
     --gr3: linear-gradient(180deg, #E79C4F 0%, #FFC845 100%);
     --gr4: linear-gradient(180deg, #8E4E81 0%, #D071BB 100%);
     --gr5: linear-gradient(180deg, #D76271 0%, #E68A97 100%);

     .pin-wrap {
          height: 1800px;
     }

     .block-00 {
          background-image: var(--url), var(--gr1);
          background-position: top center;
          background-size: 845px 225px, 100% 100%;
          font-size: 30px;
          color: #ffffff;
          line-height: 1.1;
          text-align: center;
          position: relative;
          z-index: 3;
          height: 100vh;
          background-repeat: repeat-x;
          border-radius: 20px;
     }

     .in-block {
          max-width: 500px;
          position: absolute;
          top: 15%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          z-index: 10;
          height: 60%;

          .in {
               background-image: var(--url), var(--gr2);
               background-position: top center;
               background-size: 739px 160px, 100% 100%;
               background-repeat: repeat-x;
               padding: 20px;
               border-radius: 20px;
               margin: 0 20px;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-evenly;
               gap: 10px;
               height: 100%;
               color: #fff;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
               font-size: 23px;
          }
     }

     .block-02 {
          top: 20%;

          .in {
               background-image: var(--url), var(--gr3);
               margin: 0 22px;
          }
     }

     .block-03 {
          top: 25%;

          .in {
               background-image: var(--url), var(--gr4);
               margin: 0 24px;
          }
     }

     h2 {
          font-size: 31px;
          color: #fff;
          padding: 15px 10px 10px;
          position: relative;
          z-index: 10;
     }






}