<div class="block-00">
     <h2>Давайте посмотрим вместе</h2>

</div>

<div class="block-01 in-block">
     <div class="in">
          <div class="bl-1">
               Я не знаю заранее, что происходит именно с вами. И не считаю честным делать вид, что знаю.
          </div>
          <div class="bl-2">Мы вместе разбираемся, что для вас действительно важно, что помогает двигаться вперёд и что
               снова
               возвращает вас в одну
               и ту же точку.
          </div>
     </div>
</div>
<div class="block-02 in-block">
     <div class="in">
          <div class="bl-3">Поэтому наша работа начинается не с советов — а с исследования.</div>
          <div class="bl-4">Иногда оказывается, что причина совсем не там, где человек искал её годами.</div>
     </div>
</div>
<div class="block-03 in-block">
     <div class="in">
          <div class="bl-5">Что вы можете ожидать</div>
          <div class="bl-6">Я не обещаю, что будет легко. Но обещаю другое: я буду так же заинтересован в вашем
               движении,
               как и вы сами.

          </div>
          <div class="bl-7">Если вы готовы идти — я готов идти рядом.</div>
     </div>
</div>