<div class="block-l0">

     <div class="block-00">

     </div>

     <div class="bl-00 bl-in">
          <h3>Что меняется</h3>
          <div class="text">
               Работа не меняет человека за одну встречу. <br> <br>
               Но постепенно происходит вот что.
          </div>

     </div>
     <div class="bl-01 bl-in">
          <h3>Появляется ясность</h3>
          <div class="text"> Вместо бесконечных размышлений — понимание: <br> <br>
               чего я хочу, что для меня важно, какой
               следующий шаг стоит сделать.
          </div>
     </div>
     <div class="bl-02 bl-in">
          <h3>Перестаёт быть страшно смотреть внутрь</h3>
          <div class="text">Страхи не исчезают. <br> <br>
               Но вы начинаете понимать, о чём они пытаются сказать — и перестаёте от
               них убегать.
          </div>
     </div>
     <div class="bl-03 bl-in">
          <h3>Появляется устойчивое движение</h3>
          <div class="text">Не за счёт мотивации. <br> <br>
               А потому что вы лучше понимаете себя и учитесь работать со своим
               сопротивлением.
          </div>
     </div>
     <div class="bl-04 bl-in">
          <h3>Вы перестаёте зависеть от специалиста</h3>
          <div class="text">Постепенно вы приобретаете навык самостоятельно исследовать себя, замечать внутренние
               процессы и работать со своими состояниями — уже без моей помощи.
          </div>
     </div>
</div>