<div class="block-l0">
     <h2>Что меняется</h2>

     <div class="block-00">

     </div>

</div>

<!-- 

Работа не меняет человека за одну встречу. Но постепенно происходит вот что.
Появляется ясность
Вместо бесконечных размышлений — понимание: чего я хочу, что для меня важно, какой следующий шаг стоит сделать.
Перестаёт быть страшно смотреть внутрь
Страхи не исчезают. Но вы начинаете понимать, о чём они пытаются сказать — и перестаёте от них убегать.
Появляется устойчивое движение
Не за счёт мотивации. А потому что вы лучше понимаете себя и учитесь работать со своим сопротивлением.
Вы перестаёте зависеть от специалиста
Постепенно вы приобретаете навык самостоятельно исследовать себя, замечать внутренние процессы и работать со своими состояниями — уже без моей помощи. 
-->