<div class="block-l0">
     <h2>Возможно, мы подойдём друг другу, если...</h2>



     <div class="block-00 in-block">
          <div class="bg bg-1"></div>
          <div class="bg bg-2"></div>
          <div class="bg bg-3"></div>
     </div>


     <div class="block-01 in-block">
          <div class="in t-1">
               <span>Вы хотите не просто поговорить, а действительно изменить что-то в своей жизни
               </span>
          </div>

          <div class="in t-2"><span>Вы готовы уделять время работе между встречами — именно там часто происходят
                    самые
                    важные изменения</span></div>
          <div class="in t-3"><span>Вы понимаете, что глубокие изменения требуют времени. Обычно это путь длиной в
                    несколько месяцев</span></div>
          <div class="in t-4"><span>Вы готовы честно смотреть на себя — даже когда это непросто</span></div>

     </div>

     <h2 class="m">Нам, скорее всего, не по пути, если:</h2>

     <div class="block-02 in-block">
          <div class="in t-1">
               <span>Вы ищете быстрый результат или готовые советы без собственной работы</span>
          </div>
          <div class="in t-2">
               <span>Не готовы выполнять упражнения между встречами</span>
          </div>
          <div class="in t-3">
               <span>Сейчас у вас нет возможности регулярно уделять этому время</span>
          </div>
          <div class="in t-4">
               <span><strong>И это нормально.</strong> Просто сейчас вам, возможно, больше подойдёт другой
                    формат.</span>
          </div>
     </div>








</div>