@use "@styles/breakpoints";

:root {
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: rgba(0, 46, 80, 0.95);
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@assets/fonts/montserrat-v31-cyrillic_latin-regular.woff2') format('woff2');
}

/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('@assets/fonts/montserrat-v31-cyrillic_latin-italic.woff2') format('woff2');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('@assets/fonts/montserrat-v31-cyrillic_latin-600.woff2') format('woff2');
}

/* Базовые настройки */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

// body,
// html {
//   overflow-x: hidden;
//   position: relative;
// }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(1, 61, 4, 0.8);
  font-size: 18px;
  min-height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #273a81;

  &:visited {
    color: #69749b;
  }
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  // padding: 0 20px;
  // overflow: hidden;
}

@keyframes pulse {

  0%,
  30%,
  70%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}



.str-down {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 20px;

  span {

    display: block;
    height: 36px;
    width: 81px;
    background: url(@assets/str-down.svg) no-repeat center center / cover;
    margin: -21px 0 0;

    animation: pulse 5s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }
  }
}

.btn {
  cursor: pointer;
}

.btn-00,
a.btn-00 {
  background: url(@assets/btn-00.svg);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  width: 355px;
  border-radius: 10px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}